body, div{
    padding: 0;
    margin: 0;
}

body{
    background: #c4c4c4;
}

canvas{
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

.editor{
    margin: 30px;
    background: #c4c4c4;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}

.controles{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1e1e1;
    border-radius: 10px;
}